<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omegle Clone</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <img class="logo" src="/img/Logo_Omegle.svg.png" alt="">
                <h2>Talk to stranger</h2>
                <div class="online-status">100+ Online Now!</div>
            </div>
        </nav>
    </header>

    <main>
        <div class="main-container">
            <p>You don't need an app to use Omegle on your phone or tablet! The website works great on mobile.</p>
            <p>Omegle (oh-meg-ull) is a great way to meet new friends, when you use it, you will be randomly paired with another person to talk to one another. If you prefer, you can add your interests and you'll be randomly paired with some of the same interest.</p>
            <p>You must be 18 or older to use Omegle. See Omegles terms of service for more information. Parental control protections that may assist parents are commercially available and you can find more info at hhtps://www.connectsafely.org/controls/ as well as other sites.</p>
            <p>Please respect the space and be safe!</p>
            <h2 class="monitored-chat">Video may be monitored. Keep it clean.</h2>
            <div class="action-container">
                <p class="start-chat">Start Chatting</p>
                <div class="button-container">
                    <button class="action-button">
                        <a href="/text_chat">Text Chat</a>
                    </button>
                    <button class="action-button">
                        <a href="/video_chat">Video Chat</a>
                    </button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>